<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>lead Page</title>
</head>
<style>
    .myformdiv {
        height: auto;
        display: flex;
        margin-top: 10vh;
        align-items: center;
        justify-content: center;
    }

    .myparent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .star {
        color: red;
    }
</style>

<body>
    <nav class="navbar navbar-light bg-light d-flex justify-content-between">
        <form action="/emp/lead/salespage" class="form-inline">
            <button class="btn btn-primary" type="submit">sale page </button>

        </form>
        <% if(type=='admin' ) { %>
            <form action="/emp/lead/service" class="form-inline">
                <button class="btn btn-primary" type="submit">service page </button>

            </form>
            <% }%>
                <a href="/emp/production" class="btn btn-primary">production</a>
                <a href="/emp/purchase" class="btn btn-primary">purchase</a>
                <a href="/emp/lead/closelead" class="btn btn-primary">completed lead </a>
                <a href="/emp/lead/myleads" class="btn btn-primary"> myleads</a>
                <form action="/emp/lead/callmanagement" class="form-inline">
                    <button class="btn btn-primary" type="submit">lead managment </button>

                </form>
    </nav>
    <div class="container myparent">

        <div class="col-md-5 myformdiv shadow">

            <form action="/emp/lead" class="w-75" method="POST">
                <div>
                    <h1>Lead generator form</h1>
                </div>
                <div class="form-group p-3">

                    <label>Customer Name <span class="star">*</span></label>
                    <input type="text" name="c_name" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter Customer Name" required>

                </div>
                <div class="form-group p-3">
                    <label>Customer mobile no <span class="star">*</span></label>
                    <input type="text" class="form-control" name="c_no" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter Customer mobile no">

                </div>
                <div class="form-group p-3">
                    <label>Customer Email<span class="star">*</span></label>
                    <input type="email" name="c_email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email" required>

                </div>
                <div class="form-group p-3">
                    <label>lead type<span class="star">*</span></label>
                    <!-- <input type="text" name="lead_type" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter lead type" required> -->
                    <select name="lead_type" id="" class="form-control">
                        <option value="" selected disabled>select lead type</option>
                        <option value="sales">sales lead</option>
                        <option value="servises">servises lead</option>
                    </select>

                </div>
                <div class="form-group p-3">
                    <label>lead description<span class="star">*</span></label>
                    <textarea name="lead_desc" id="" rows="3" class="form-control"
                        placeholder="Enter lead description"></textarea>
                </div>



                <div class="form-group p-3">
                    <input type="submit" class="form-control p-2 bg-primary text-white" id="exampleInputPassword1"
                        value="Submit">
                </div>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

</body>

</html>